<h1> Sign in </h1>
<form action="/users/create-session" method="POST">
    
    <input type="email" name="email" placeholder="Enter your email id" required>
    <input type="password" name="password" placeholder="Enter your password" required>
    
    <input type="button" value="Sign In">
</form>